
/*
     FILE ARCHIVED ON 15:24:09 Oct 20, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:44:51 Jul 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.443
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.023
  esindex: 0.009
  cdx.remote: 4.268
  LoadShardBlock: 273.466 (3)
  PetaboxLoader3.resolve: 359.302 (4)
  PetaboxLoader3.datanode: 135.807 (4)
  load_resource: 224.941
*/